<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.Vexa.mapper.UserlocationMapper">
  <resultMap id="BaseResultMap" type="org.Vexa.model.Userlocation">
    <id column="UserLocation_Id" jdbcType="INTEGER" property="userlocationId" />
    <result column="UserLocation_Name" jdbcType="VARCHAR" property="userlocationName" />
    <result column="UserLocation_Introduce" jdbcType="VARCHAR" property="userlocationIntroduce" />
  </resultMap>
    <select id="allUserLocations" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from userlocation
    </select>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    UserLocation_Id, UserLocation_Name, UserLocation_Introduce
  </sql>
  <select id="selectByExample" parameterType="org.Vexa.model.UserlocationExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from userlocation
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from userlocation
    where UserLocation_Id = #{userlocationId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from userlocation
    where UserLocation_Id = #{userlocationId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="org.Vexa.model.UserlocationExample">
    delete from userlocation
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="org.Vexa.model.Userlocation">
    insert into userlocation (UserLocation_Id, UserLocation_Name, 
      UserLocation_Introduce)
    values (#{userlocationId,jdbcType=INTEGER}, #{userlocationName,jdbcType=VARCHAR}, 
      #{userlocationIntroduce,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="org.Vexa.model.Userlocation">
    insert into userlocation
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userlocationId != null">
        UserLocation_Id,
      </if>
      <if test="userlocationName != null">
        UserLocation_Name,
      </if>
      <if test="userlocationIntroduce != null">
        UserLocation_Introduce,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userlocationId != null">
        #{userlocationId,jdbcType=INTEGER},
      </if>
      <if test="userlocationName != null">
        #{userlocationName,jdbcType=VARCHAR},
      </if>
      <if test="userlocationIntroduce != null">
        #{userlocationIntroduce,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="org.Vexa.model.UserlocationExample" resultType="java.lang.Long">
    select count(*) from userlocation
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update userlocation
    <set>
      <if test="record.userlocationId != null">
        UserLocation_Id = #{record.userlocationId,jdbcType=INTEGER},
      </if>
      <if test="record.userlocationName != null">
        UserLocation_Name = #{record.userlocationName,jdbcType=VARCHAR},
      </if>
      <if test="record.userlocationIntroduce != null">
        UserLocation_Introduce = #{record.userlocationIntroduce,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update userlocation
    set UserLocation_Id = #{record.userlocationId,jdbcType=INTEGER},
      UserLocation_Name = #{record.userlocationName,jdbcType=VARCHAR},
      UserLocation_Introduce = #{record.userlocationIntroduce,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="org.Vexa.model.Userlocation">
    update userlocation
    <set>
      <if test="userlocationName != null">
        UserLocation_Name = #{userlocationName,jdbcType=VARCHAR},
      </if>
      <if test="userlocationIntroduce != null">
        UserLocation_Introduce = #{userlocationIntroduce,jdbcType=VARCHAR},
      </if>
    </set>
    where UserLocation_Id = #{userlocationId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.Vexa.model.Userlocation">
    update userlocation
    set UserLocation_Name = #{userlocationName,jdbcType=VARCHAR},
      UserLocation_Introduce = #{userlocationIntroduce,jdbcType=VARCHAR}
    where UserLocation_Id = #{userlocationId,jdbcType=INTEGER}
  </update>
</mapper>